[Unit]

Description=update

After=default.target

[Service]

ExecStart=/home/user/autoUpdateLinux/updates-debian.sh

[Install]

WantedBy=default.target
